@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    box-sizing: border-box;
}

html{
    background-color: rgb(10, 10, 54);
}

/* Utility Classes */

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow-1{
    flex-grow: 1;
}

.full-size{
    width: 100%;
    height: 100%;
}

.sub-container{
    padding: 30px;
}

.heading{
    font-size: 48px;
    font-weight: 700;
}

.info{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-primary{
    border: none;
    background-color: rgb(63, 171, 63);
    color: white;
}

.btn-secondary{
    color: rgb(63, 171, 63);
}

.btn-icon{
    margin-left: 4px;
}
/* navigation bar */
.nav{
    min-width: 280px;
    background-color: rgb(10, 10, 54);
    height: 100vh;
    color: white;
    position: fixed;
    transition: 0.3s all ease-in-out;
    /*display: none;
    */:;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.navSpace{
    min-width: 280px;
    height: 100vh;
    /* display: none; */
}

.navIcon{
    position: absolute;
    width: 100%;
    background-color: rgb(10, 10, 54);
    left: 10px;
    top: 5px;
    display: none;
}

#navIcon{
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.profile-info{
    text-align: center;
}

.profile-img{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-image: url("../images/index.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.name{
    font-size: 25px;
}

.sub-heading{
    font-size: 18px;
    margin: 5px 0px;
    color: #aaa;
}

.typer{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 5px;
    letter-spacing: 2px;
    height: 50px;
    /* font-weight: 500; */
}

.links{
    height: 40%;
    min-height: 200px;
    max-height: 250px;
}

.links a{
    color: #ddd;
    text-decoration: none;
    font-size: 21px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.links a:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.profile-info .icons{
    width: 120px;
    margin-top: 5px;
}

.profile-info .icons a{
    text-decoration: none;
    font-size: 20px;
    color: #bbb;
}


.container{
    overflow-x: hidden;
}
/* Main Div */

.sub-container{
    max-width: 900px;
    width: 100%;
}

.btn-wrap{
    max-width: 395px;
}

#main{
    background-color: #81ecec;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transform-origin: 0% 0%;
    position: relative;
    height: 90%;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

#mainContainer{
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    height: 100vh;
}

#window-nav{
    transition: 0.8s all ease-in-out;
    -webkit-transition: 0.8s all ease-in-out;
    -moz-transition: 0.8s all ease-in-out;
    -ms-transition: 0.8s all ease-in-out;
    -o-transition: 0.8s all ease-in-out;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

#window-nav i{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#about{
    overflow-y: scroll;
    max-height: 90vh;
    /* display: none; */
}

#education, #skills, #projects, #positions{
    overflow-y: scroll;
    display: none;
    max-height: 90vh;
}

#span, #text{
    display: inline;
}

.window-nav{
    text-align: right;
    width: 90%;
    background-color: #eee;
}

/* Terminal */
#terminal{
    z-index: 100;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: none;
}

/* Education */
.university{
    margin-top: 30px;
}
.university-name{
    font-size: 28px;
    font-weight: 500;
}
.degree{
    font-size: 18px;
}
.duration{
    color: rgb(165, 36, 36);
}

.course-heading{
    color: #333;
    font-size: 16px;
}

.course-works{
    margin-top: 10px;
}

.course-list li{
    margin: 5px 15px;
    list-style-type: none;
    color: #222;
    padding: 2px 5px;
    border: 1px solid #222;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Media queries */

@media only screen and (max-width: 700px) {
    .navSpace{
        display: none;
    }
    .nav{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        z-index: 1000;
    }
    .navIcon{
        display: block;
        z-index: 1001;
    }
    #mainContainer{
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
}
}