@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    box-sizing: border-box;
    color: rgb(21, 32, 121);
}

html{
    /* background-color: #4481eb; */
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



/* Utility Classes */

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow-1{
    flex-grow: 1;
}

.full-size{
    width: 100%;
    height: 100%;
}

.sub-container{
    padding: 30px;
}

.last{
    height: 30px;
}

.heading{
    font-size: 48px;
    font-weight: 700;
    /* color: #ee4747; */
    color: #b763fc;
}

.info{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
}

.btn-primary{
    border: none;
    background-color: rgb(110, 110, 192);
    color: white;
}

.btn-secondary{
    color: rgb(110, 110, 192);
}

.btn-icon{
    margin-left: 4px;
}


/* Loader  */
.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 1;
  background-color: #4684ee;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* navigation bar */
.nav{
    min-width: 280px;
    background-color: rgba(3, 3, 60, 0.3);
    height: 100vh;
    color: white;
    position: fixed;
    transition: 0.3s all ease-in-out;
    /*display: none;
    */
    padding: 10% 0px;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.navSpace{
    min-width: 280px;
    height: 100vh;
    /* display: none; */
}

.navIcon{
    position: absolute;
    width: 100%;
    background-color: transparent;
    left: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(3, 3, 60, 0.3);
    display: none;
}
.fa-bars{
    color: white;
}
#navIcon{
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.profile-info{
    text-align: center;
}

.profile-img{
    width: 155px;
    height: 155px;
    /* border: 2px solid rgb(44, 44, 44); */
    border: 5px pink;
    border-style: solid;
    border-color: #97bdff rgb(255, 126, 126);
    border-radius: 100%;
    background-image: url("../images/newpic.jpg");
    background-repeat: no-repeat;
    /* background-position: top 10px; */
    /* background-position: right -3px bottom -35px; */
    pointer-events: none;
    background-size: cover;
    margin-bottom: 30px;
}

.name{
    font-size: 25px;
    color: #eee;
}

.sub-heading{
    font-size: 18px;
    margin: 5px 0px;
    color: #ccc;
}

.typer{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 5px;
    letter-spacing: 2px;
    height: 50px;
    /* font-weight: 500; */
}

.links{
    height: 40%;
    min-height: 200px;
    max-height: 250px;
}

.links a{
    color: #ccf;
    text-decoration: none;
    font-size: 21px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.links a:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.links i{
    color: #ccf;
}

.profile-info .icons{
    width: 120px;
    margin-top: 5px;
}

.profile-info .icons a{
    text-decoration: none;
    font-size: 20px;
}
.profile-info .icons a i{
    color: #dde;
}


.container{
    overflow-x: hidden;
}
/* Main Div */

.sub-container{
    max-width: 900px;
    width: 100%;
    max-height: 100%;
}

.btn-wrap{
    max-width: 450px;
    margin-top: 30px;

}

#main{
    /*background-color: #81ecec;
    */
    background: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform-origin: 0% 0%;
    position: relative;
    height: 80%;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

#mainContainer{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 100vh;
    transform-origin: -10% 75%;
}

#window-nav{
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

#window-nav i{
    font-size: 10px;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    margin: 5px 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#about{
    overflow-y: scroll;
    max-height: 90vh;
    /* display: none; */
    /* background-color: #e7ecff; */
}

#education, #skills, #projects, #positions{
    overflow-y: scroll;
    display: none;
    max-height: 90vh;
}

#education i, #skills i, #projects i, #positions i{
    color: #b763fc;
    display: inline-block;
    margin-right: 10px;
}

#span, #text{
    display: inline;
}

.window-nav{
    text-align: left;
    width: 90%;
    background-color: #eee;
}

.red{
    color: rgba(255, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.8);
    width: 14px;
    text-align: center;
}
.yellow{
    color: rgba(230, 230, 0, 0.8);
    background-color: rgba(230, 230, 0, 0.8);
}
.green{
    color: rgba(0, 255, 0, 0.9);
    background-color: rgba(0, 255, 0, 0.9);
}

.red:hover, .green:hover, .yellow:hover{
    color: black;
}
/* Terminal */
#terminal{
    z-index: 100;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: none;
}

/* Education */
.university{
    margin-top: 30px;
}
.university-name{
    font-size: 28px;
    font-weight: 500;
    color: rgb(36, 50, 165);
}
.degree{
    font-size: 18px;
}
.duration{
    /* color: rgb(21, 32, 121); */
    color: rgb(138, 102, 102);
}

.course-heading{
    color: rgb(36, 50, 165);
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.course-list i{
    /* font-size: px; */
    margin: 0;
}

.course-list li{
    margin: 5px 8px;
    list-style-type: none;
    color: rgb(21, 32, 121);
    padding: 2px 5px;
    border: 1px solid rgb(21, 32, 121);
    /* font-weight: 500;
    /* background-color: white;
    box-shadow: rgba(21, 32, 121, 0.1) 0px 3px 8px;
    padding: 5px 10px;  */
    /* color: white;
    font-weight: 500;
    background-color: rgba(110, 110, 192, 0.7);
    padding: 5px 10px; */
    border-radius: 5px;
}

.education-item{
    /* padding-left: 15px; */
}


/* Media queries */

@media only screen and (max-width: 700px) {
    .navSpace{
        display: none;
    }
    .nav{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        z-index: 1001;
        /* background-color: rgb(44, 68, 163); */
        background:  linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0, 0, 0.2)), url('../images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navIcon{
        display: block;
        z-index: 1002;
    }
    #main{
        height: 90%;
    }
    #mainContainer{
        padding-top: 20px;
    }
}

.project{
    height: 300px;
    border: 2px solid black;
    padding: 10px;
}
.image{
    width: 180px;
    height: 150px;
    border: 2px solid black;
}


/* SKILL SECTION */
/* .skill-topic{
    height: 130px;
    width: 130px;
    border: 4px ridge;
    border-radius: 100%;
    border-left-color: #589636;
    border-top-color: #f0db4f;
    border-right-color: #61DBFB;
    border-bottom-color: #303030;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: ;
}

.skill-topic-text{
    transform: rotate(-45deg);
}
#line-1{
    border: 2px solid #589636;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translatex(-78px) rotate(-45deg);
}
#line-2{
    border: 2px solid #589636;
    height: 50px;
    position: absolute;
    left: 50%;
} */